@keyframes fadeLeft {
  0% {
    transform: translate(-110%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeReverseLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
