footer {
  padding: 20px 0;
  background-color: rgba($color: #fff, $alpha: 0.1);
  &.show {
    @include fade(fadey30, 30px, 0, 0.3s, 0s);
  }
  .logo-container {
    cursor: pointer;
  }
  .footer-content {
    display: flex;
    align-items: center;
    p {
      margin: auto;
      a {
        text-decoration: underline;
      }
    }
  }
}
