header {
  position: relative;
  padding: 200px 0 125px 0;
  .header-content {
    max-width: 950px;
    h1 {
      display: flex;
      align-items: center;
      padding: 0;
      .logo-container {
        @include transition(0.3s);
        transform: scale(0);
        filter: blur(15px);
        @include appearScale(appearScale0, 0, 0.8, 0.5s, 0.2s);
        margin-left: 15px;
      }
      .second-title {
        color: $color-white;
      }
    }
    p.subtitle {
      font-size: $l-title-font-size;
      margin: 0;
      position: relative;
      top: -50px;
      font-family: $font1;
      opacity: 0;
      @include fade(fade30, 30px, 0, 0.5s, 0s);
      @include reducedMotionAnimation(fade30);
      span {
        color: transparent;
        background: $gradient-primay;
        background-clip: text;
        -webkit-background-clip: text;
        transform: translate(-100%, 0);
        display: inline-block;
        opacity: 0;
        animation: fadeLeft 0.5s 0.2s linear forwards;
        @include reducedMotionAnimation(fadeLeft);
      }
    }
    p.intro {
      opacity: 0;
      &.show {
        @include fade(fade15, 15px, 0, 0.5s, 0.4s);
      }
    }
    .btn-container {
      margin-top: 60px;
      .btn-style {
        &.show {
          @include appearScale(appearSCale08, 0, 0.8, 0.5s, 0.5s);
        }
      }
    }
  }
}
