header {
  .header-content {
    max-width: 950px;
    &:hover {
      .logo-container {
        transform: rotate(14deg);
      }
    }
    h1 {
      display: flex;
      align-items: center;
      padding: 0;
      .logo-container {
        @include transition(0.3s);
      }
    }
    p.subtitle {
      font-size: $l-title-font-size;
      margin: 0;
      position: relative;
      top: -15px;
      font-family: $font1;
      span {
        color: transparent;
        background: $gradient-primay;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    .btn-container {
      margin-top: 60px;
    }
  }
}
