.navigation {
  padding: 20px 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
      cursor: pointer;
    }
    .menu-btn-container {
      display: flex;
      cursor: pointer;
      padding-right: 30px;
      span {
        margin-right: 15px;
      }
      .menu-icon {
        position: relative;
        cursor: pointer;
        .bar {
          width: 30px;
          height: 2px;
          background: $gradient-primay;
          position: absolute;
        }
        #bar1 {
          top: 0;
          &.open {
            top: 10px;
          }
        }
        #bar2 {
          top: 10px;
          &.open {
            top: 10px;
          }
        }
        #bar3 {
          top: 20px;
          &.open {
            top: 10px;
          }
        }
      }
    }
  }
}
.full-screen-nav {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 150px;
  transform: translate(-100%, 0);
  @include transition(0.6s);
  &.show {
    transform: translate(0, 0);
  }
}
