/*Breakpoints*/
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'phones' {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == 'tablets' {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == 'laptops' {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $breakpoint == 'desktops' {
    @media (max-width: 1799px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

/// Transition
@mixin transition($v1) {
  -webkit-transition: all $v1 ease-in-out;
  -moz-transition: all $v1 ease-in-out;
  -o-transition: all $v1 ease-in-out;
  transition: all $v1 ease-in-out;
}

@mixin translate($v1, $v2) {
  -webkit-transform: translate($v1, $v2);
  -moz-transform: translate($v1, $v2);
  -o-transform: translate($v1, $v2);
  transform: translate($v1, $v2);
}

@mixin scale($v1) {
  -webkit-transform: scale($v1);
  -moz-transform: scale($v1);
  -o-transform: scale($v1);
  transform: scale($v1);
}
