// graphic chart colors //
$color-primary: #17f88c;
$color-secondary: #1fecf9;
$color-black: #000;
$color-grey: #777;
$color-white: #fff;

$gradient-primay: linear-gradient(
  to bottom right,
  $color-primary,
  $color-secondary
);

/*Font sizes*/
$golden-ratio: 1.61;
$title-font-size: 50px;

$l-title-font-size: calc(#{$title-font-size} * #{$golden-ratio});
$xl-title-font-size: calc(#{$l-title-font-size} * #{$golden-ratio});
$s-title-font-size: calc(#{$title-font-size} / #{$golden-ratio});
$text-font-size: calc(#{$s-title-font-size} / #{$golden-ratio});
