// graphic chart colors //
$color-primary: #17f88c;
$color-secondary: #1fecf9;
$bg-color: #12202b;
$color-black: #000;
$color-grey: #777;
$color-white: #fff;

$gradient-primay: linear-gradient(
  to bottom right,
  $color-primary,
  $color-secondary
);

/*Font sizes*/
$text-font-size: 19.3px;
$s-title-font-size: 31px;
$title-font-size: 50px;
$l-title-font-size: 80.5;
$xl-title-font-size: 129.6px;
